.slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  gap: 100px;
}

.slide {
  flex-shrink: 2;
  width: 40px;
  height: 40px;
  /* ...otros estilos... */
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.slide.right {
  transform: translateX(50%);
  opacity: 0.5;
}

.slideEnter {
  opacity: 1 !important;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.rotate {
  animation-name: rotation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: center;
  
}

.slideExit {
  animation-name: slideExit;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slideExit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    margin-left: 100px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
