.slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  gap: 100px;
  padding: auto;
  justify-content: space-between;
}

.slide {
  flex-shrink: 2;
  width: 40px;
  height: 40px;
  /* ...otros estilos... */
  transition: transform 2s ease, opacity 0.5s ease;
}


.rotate {
  animation-name: rotation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: center;
  transition: 2s;
  
}
.ultimo{
opacity: 0;
}

@keyframes rotation {
  0% {
    transform: translateX(-0%);

  }
50%{
  transform: translateX(50%);
  
}
  100% {
    transform: translateX(100%);
      opacity: -1;
    }
}
