.contentProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
 width: 387px;
 align-items: flex-start;
 margin-left: 24px;
 
}

.projects {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 0px 28px #5C6BC0;
  font-size: 25px;
  font-family: Syne;
  font-weight: 800;
  margin-top: 80px;
  padding-bottom: 33px;
  border-bottom: 1px solid #141414;
}

.contentTitle {
  color: #FFF;
  font-size: 22px;
  font-family: outfit;
  font-weight: 800;
  width: 307px;
  justify-content: center;
}

.description {
  color: #999;
  font-size: 16px;
  font-family: outfit;
  line-height: 24px;
  width: 307px;
  justify-content: center;
}

.contentButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.page {
  display: flex;
  width: 64px;
  height: 64px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #1F1F1F;
  background: #0D0D0D;
}
.pageDesktop{
  display: none;
}

.page:hover {
  border-image: linear-gradient(to right, #5C6BC0, #C05CBC) 1;
  border-image-slice: 1;
  cursor: pointer;
}

.github {
  display: flex;
  width: 64px;
  height: 64px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #1F1F1F;
  background: #0D0D0D;
}

.github:hover svg path{
  fill: white;
}

.github:hover {
  border-image: linear-gradient(to right, #5C6BC0, #C05CBC) 1;
  border-image-slice: 1;
  cursor: pointer;
  fill: white;
}
.page:hover svg path{
  fill: white;
}
.githubDesktop{
  display: none;
}
.count {
  color: #999;
  font-size: 16px;
  font-family: outfit;
  margin-left: 28px;
  margin-right: 28px;
}

.preview {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #1F1F1F;
  background: #0D0D0D;
  cursor: pointer;
}

.previewDesktop {
  display: none;
  /* Oculta el botón en dispositivos móviles */

}

.next {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #1F1F1F;
  background: #0D0D0D;
  cursor: pointer;

}
.icon:hover{
    fill: white;
}

.carouselContainer {
  /* Estilos para el contenedor del carrusel */
  position: relative;
  overflow: hidden;
  margin-top: 65px;

}


.carousel {
  /* Estilos del carrusel */
  display: flex;
  transition: transform 0.3s ease-in-out;
  gap: 40px;

}

.carouselImage {
  /* Estilos de las imágenes del carrusel */
  width: 100%;
  /* Ajusta el tamaño de la imagen según tus necesidades */
  object-fit: cover;
  /* Ajusta el tipo de ajuste según tus necesidades */
}

.imgInactive {
  opacity: 0.5;
}

@media (min-width: 1024px) {

  .contentProjects {
    width: auto;
    height: auto;
    align-items: flex-start;
    margin-left: 70px;
  }

  .contentButtons {
    justify-content: flex-start;
  }

  .projects {
    text-align: start;
    margin-right: 70px;
  }

  .contentButtons {
    gap: 28px;
  }

  .page {
    display: none;
  }

  .github {
    display: none;
  }

  .githubDesktop:hover svg path {
    fill: #ffffff; /* Cambia el color a blanco */
  }
  
  .pageDesktop:hover svg path {
    fill: #ffffff; /* Cambia el color a blanco */
  }
  

  .pageDesktop {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #1F1F1F;
    background: #0D0D0D;
    display: flex;
    width: 314px;
    height: 64px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    color: #999;
font-size: 16px;
font-family: outfit;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .githubDesktop {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #1F1F1F;
    background: #0D0D0D;
    display: flex;
    width: 314px;
    height: 64px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    color: #999;
    font-size: 16px;
    font-family: outfit;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .githubDesktop:hover{
    border-image: linear-gradient(to right, #5C6BC0, #C05CBC) 1;
    border-image-slice: 1;
    cursor: pointer;
    color: #FFF;
    
  }
  .pageDesktop:hover{
    border-image: linear-gradient(to right, #5C6BC0, #C05CBC) 1;
    border-image-slice: 1;
    cursor: pointer;
    color: #FFF;
  }
}